html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: block;
  margin: 0;
  border-radius: 3px;
}

header {
  background-color: #d05c2e;
}

h1 {
  display: inline-block;
  color: #fff;
  padding: .3em;
  text-align: center;
}

.left {
  float: left;
  width: 40px;
}

.right {
  float: right;
  width: 40px;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
  padding: .5em 0 0;
  margin: 0 0 .7em;
}

a:hover {
  background-color: #a63f38;
}
